.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container{
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;

}

@media (max-width:768px) {
  .app-container{width:95%}
}
